{plugins,[]}.

{deps,
    [
        {jiffy,         ".*", {git, "git@github.com:davisp/jiffy.git",          {tag, "0.14.11"}}},
        {exomler,       ".*", {git, "git@github.com:erlangbureau/exomler.git",  {tag, "0.5.1"}}}
    ]
}.

{deps_dir, ["deps"]}.
{erl_opts, [inline, {src_dirs, ["src"]}, {i, "deps"}, {i, ".."}, {d,  multi_logger, true}]}.